
.user_img_container{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background-color: #000;
    cursor: pointer;
}
.user_img_container img{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}


.user_info_container{
    position: relative;
    float: left;
    width: 733px;
    height: 200px;
    padding-left: 35px;
    font-family: Trebuchet MS, sans-serif;
}
.user_name{
    font-size: 24px;
}
.user_login{
    font-size: 16px;
    margin-top: -20px;
}
.user_info_container label{
    position: relative;
    float: left;
    width: 280px;
    font-size: 13px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}
.user_info_container label b{
    color: #f3f58a;
}